body {
  font-family: monospace;
  margin: 40px;
  padding: 10px;
  background-color: #3ddc38;
}

header {
  background-color: #c53196;
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #c53196;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 40px;
}
